body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

/* Navbar */
.navbar {
  background-color: #44ACFF;
  padding: 10px;
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin:10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 10px;
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  color: #89D4FF;
}

h3{
  color:#0B2D72;
}

p, strong{
  color:#1A3263
}

.project {
  background-color: #f5f5f5;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

/* Social links */
.socials a {
  margin-right: 10px;
  text-decoration: none;
  color: #1A3263;
}

.socials a:hover {
  text-decoration: underline;
}
